.talk-content
  .left-content
    .left-content__head
      %p
        = link_to talk.user.nickname, user_path(talk.user)
    = link_to talk_path(talk) do
      .left-content__text
        = simple_format(talk.content)
  .right-content
    .right-content__head
      = talk.created_at.strftime("%Y/%m/%-d %-H:%M")
    .right-conent__list
      コメント：
      = talk.comments.length