.back-link
  = link_to "トークに戻る", category_talks_path(@talk.category)

= render @talk

.comment__index
  .comment__index--title
    コメント(
    = @talk.comments.length
    )
  .comment__index--comments
    - @talk.comments.each do |comment|
      .talk-content
        .left-content
          .left-content__head
            %p
              = link_to comment.user.nickname, user_path(comment.user)
          .left-content__text
            = simple_format(comment.content)
        .right-content
          .right-content__head
            = comment.created_at.strftime("%Y/%m/%-d %-H:%M")
          .right-conent__list
            = icon 'fas', 'star'

.bottom-content
  = form_for [@talk, @comment] do |f|
    .comment__new
      .comment__new--area
        = f.text_area :content
      .comment__new--submit
        = f.submit :コメント