.search-title
  ユーザー検索

= search_form_for(@q, url: search_path) do |f|
  .search-content
    .search-field
      = f.label :nickname_cont, 'ユーザー名'
      %br
      = f.search_field :nickname_cont

    .search-field
      = f.label :birthday_in, "年代"
      %br
      %label
        = f.check_box :birthday_in, {multiple: true}, 0, nil
        = f.label "未成年"
      %label
        = f.check_box :birthday_in, {multiple: true}, 1, nil
        = f.label "20代"
      %label
        = f.check_box :birthday_in, {multiple: true}, 2, nil
        = f.label "30代"
      %label
        = f.check_box :birthday_in, {multiple: true}, 3, nil
        = f.label "40代"
      %label
        = f.check_box :birthday_in, {multiple: true}, 4, nil
        = f.label "50代"
      %label
        = f.check_box :birthday_in, {multiple: true}, 5, nil
        = f.label "60代以上"

  
    .search-field
      = f.label :sex_in, "性別"
      %br
      - User.sexes.each do |i|
        = f.check_box :sex_in, {multiple: true}, i[1], nil
        = f.label "#{i[0]}"
    
    .search-field
      = f.label :address_in, "都道府県"
      %br
      - User.addresses.each do |i|
        = f.check_box :address_in, {multiple: true}, i[1], nil
        = f.label "#{i[0]}"
  
    .search-field
      = f.submit