.search-title
  検索結果

- if @result_users.present?
  - @result_users.each do |user|
    = link_to user_path(user) do
      .search-result
        = user.nickname
        - if user.sex
          = user.sex
          \/
        - if user.birthday
          = show_age(user.birthday)
          \/
        - if user.address
          = user.address
- else
  %p 該当するユーザーはいません