!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title スキトーク！
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .title
        = link_to "スキトーク！", root_path
      - if user_signed_in?
        .links
          = link_to user_path(current_user) do
            .links__link
              = icon 'fas', 'user'
          .links__link#new_talk
            = icon 'fas', 'edit'
      - else
        .links
          = link_to new_user_registration_path do
            .links__link
              %p 登録
          = link_to new_user_session_path do
            .links__link
              %p login
    %main
      .container
        = yield
      .shadow.display_none
      .new-talk.display_none
        = render 'layouts/new_talk'